.pic {
    height: 34px;
    line-height: 34px;
}

.pic a {
    display: inline-block;
    border: 1px solid #ededed;
    padding: 0 12px;
    color: #3e3e3e;
    font-size: 14px;
    font-family: tahoma,simsun;
    text-decoration: none;
}

.pic a:hover {
    color: #f40;
    border-color: #f40;
}

/*.pic .active,*/

.pic .active:hover {
    color: #fff;
    background: #f40;
    border: solid 1px #f40;
}



.main{
    width:100%;
    margin-top:40px;
}
.main .tag{
    margin:0 auto;
    width:200px;
    font-size:18px;
    border-bottom:1px solid #878787;
    text-align:center;
    margin-bottom:20px;
}
.main .images{
    margin:0 auto;
    width:1300px;
}
.mid {
    margin: 20px;
    width: 250px;
    height: 400px;
    background: dimgrey;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}
.main .images .mid{
    float: left;//设置左对齐
    margin:5px;//图片边缘间隔
}

.main .images  img{
    width:250px;//规范图片长宽
height:300px;
}





